{
  "exclude": [".*.js$", ".*.test.*$", ".*.map$"],
  "jsc": {
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false
    },
    "baseUrl": "src"
  },
  "module": {
    "type": "commonjs",
    "strictMode": true,
    "strict": true
  }
}
